* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  
  .counter-button {
    font-size: 50px;
    border: none;
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 10px;
    color: aliceblue;
    border-radius: 5px;
  }
  
  .background-red {
    background-color: rgb(255, 0, 60);
  }
  
  .background-green {
    background-color: rgb(0, 190, 159);
  }
  
  .counter-content {
    font-size: 50px;
    width: 70px;
    height: 70px;
    margin-right: 20px
  }